@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
:root {
  --BodyBG: #f3d2c1;
  --BookCardBG: #fef6e4;
  --ButtonBG: #f582ae;
  --FontColor: #001858;
  --BorderColor: #172c66;
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.AddBookButton {
  margin-bottom: 20px;
  margin-top: 70px;
}

body {
  align-items: center;

  background-color: var(--BodyBG);
  color: var(--FontColor);
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  min-height: 100vh;
}

.BookCard {
  background-color: var(--BookCardBG);
  border-radius: 10px;
  border: 3px solid var(--BorderColor);
  font-weight: 500;
  margin-top: 1%;
  padding: 3%;
}

.BooksDisplay {
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1%;
  margin-left: 1%;
  width: 90%;
}

button {
  background-color: var(--ButtonBG);
  border: 2px solid var(--BorderColor);
  border-radius: 3px;
  color: var(--FontColor);
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 3px;
}
.CloseButton {
  background-color: #fc4868;
  align-self: flex-end;
  width: 25%;
}

.dim {
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.FormContainer {
  display: flex;
  flex-direction: column;
  background-color: #fef6e4;
  border-radius: 10px;
  border: 3px solid var(--BorderColor);
  font-weight: 500;
  padding: 3%;
  position: absolute;
  margin-top: 15%;
}

.Header {
  font-size: 50px;
  left: 2px;
  height: 50px;
  position: fixed;
  top: 2px;
}

input {
  background-color: transparent;
  border: solid 2px var(--BorderColor);
  border-radius: 4px;
}

.invisible {
  display: none;
}

label {
  font-weight: 600;
}

.submit {
  text-align: center;
}
