@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
:root {
  --BodyBG: rgb(243, 210, 193);
  --BookCardBG: rgb(254, 246, 228);
  --ButtonBG: rgb(245, 130, 174);
  --FontColor: rgb(0, 24, 88);
  --BorderColor: rgb(23, 44, 102);
  --CloseButton: rgb(252, 72, 104);

  --BodyBG1: rgb(0, 70, 67);
  --BookCardBG1: rgb(232, 228, 230);
  --ButtonBG1: rgb(249, 188, 96);
  --FontColor1: rgb(0, 30, 29);
  --BorderColor1: rgb(0, 30, 29);
  --CloseButton1: rgb(225, 97, 98);
  --ChangeTheme: rgb(139, 211, 221);
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.AddBookButton {
  margin-bottom: 20px;
  margin-top: 70px;
}

body {
  align-items: center;
  background-color: var(--BodyBG);
  color: var(--FontColor);
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  min-height: 100vh;
}
body.theme2 {
  background-color: var(--BodyBG1);
  color: var(--FontColor1);
}

.BookCard {
  background-color: var(--BookCardBG);
  border-radius: 10px;
  border: 3px solid var(--BorderColor);
  font-weight: 500;
  margin-top: 1%;
  padding: 3%;
}
.BookCard.theme2 {
  background-color: var(--BookCardBG1);
  border: 3px solid var(--BorderColor1);
}

.BooksDisplay {
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1%;
  margin-left: 1%;
  width: 90%;
}

button {
  background-color: var(--ButtonBG);
  border: 2px solid var(--BorderColor);
  border-radius: 3px;
  color: var(--FontColor);
  cursor: pointer;
  margin-right: 3px;
  padding: 10px 20px;
}

button.theme2 {
  background-color: var(--ButtonBG1);
  border: 2px solid var(--BorderColor1);
}

.ChangeThemeButton {
  background-color: var(--ChangeTheme);
}

.CloseButton {
  align-self: flex-end;
  background-color: var(--CloseButton);
}
.theme2.CloseButton {
  background-color: var(--CloseButton1);
}

.dim {
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.FormContainer {
  background-color: var(--BookCardBG);
  border-radius: 10px;
  border: 3px solid var(--BorderColor);
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  padding: 3%;
  position: absolute;
}
.FormContainer.theme2 {
  background-color: var(--BookCardBG1);
  border: 3px solid var(--BorderColor1);
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5%;
  width: 90%;
}
h1 {
  color: #33272a;
}

h1.theme2 {
  color: #fffffe;
}

input {
  background-color: transparent;
  border: solid 2px var(--BorderColor);
  border-radius: 4px;
}
input.theme2 {
  border: solid 2px var(--BorderColor1);
}

.invisible {
  display: none;
}

label {
  font-weight: 700;
}

.submit {
  text-align: center;
}
