@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #f3d2c1;
  color: #001858;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  justify-content: center;
  min-height: 100vh;
}

.Book {
  background-color: #fef6e4;
  border-radius: 10px;
  border: 3px solid #172c66;
  color: #001858;
  font-weight: 500;
  margin-left: 10px;
  padding: 40px;
  width: 300px;
}

.BooksDisplay {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 1000px;
  margin-bottom: 20px;
}

.bookButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bookButtons button {
  margin-left: 10px;
}

button {
  background-color: #f582ae;
  border: 2px #001858 solid;
  border-radius: 3px;
  cursor: pointer;

  color: #001858;
  padding: 10px 30px;
}

.invisible {
  display: none;
}
